*,
*::before,
*::after {
  box-sizing: border-box;
}

*a {
  cursor: pointer;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: hsl(236, 13%, 42%);
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: hsl(240, 100%, 5%);
  line-height: 1;
  margin: 0.5rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}

/* Button */
.btn {
  border: 0;
  font-size: 1.1rem;
  font-weight: bold;
  outline: 0;
  padding: 0.8rem 2rem;
  text-align: center;
  text-wrap: nowrap;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.btn--primary {
  background: hsl(5, 85%, 63%);
  transition: background 0.2s, color 0.2s;
}

.btn--primary:hover,
.btn--primary:focus {
  background: hsl(240, 100%, 5%);
  color: #fff;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

.list__item {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--inline .list__item {
    display: inline-block;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
}

/* Media */
.media {
  display: flex;
  margin-bottom: 1.5rem;
}

.media__image {
  width: 7rem;
  height: 9rem;
  object-fit: cover;
}

.media__body {
  margin-left: 1rem;
}

.media__serial-number {
  margin-top: 0;
  color: hsl(5, 85%, 63%);
  font-size: 2.3rem;
}

.media__heading {
  font-weight: bold;
  color: hsl(240, 100%, 5%);
  transition: color 0.2s;
  text-decoration: none;
}

.media__heading:hover {
  color: hsl(5, 85%, 63%);
}

@media screen and (min-width: 1024px) {
  .media {
    margin-bottom: 0;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .grid--2x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--2x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* News Block */

.news {
  background: hsl(240, 100%, 5%);
  padding: 1.5rem;
  max-width: 60rem;
  margin: 0 auto;
}

.news__latest {
  color: hsl(35, 77%, 62%);
}

.news__article {
  color: hsl(233, 8%, 88%);
  padding-bottom: 2rem;
  border-bottom: 1px solid hsl(236, 13%, 42%);
  margin-top: 1.5rem;
}

.news__article:last-child {
  border: 0;
  padding: 0;
}

.news__heading {
  color: hsl(36, 100%, 99%);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.7rem;
  transition: color 0.2s;
  text-decoration: none;
  margin-bottom: 0.8rem;
  display: inline-block;
}

.news__heading:hover {
  color: hsl(35, 77%, 62%);
}

/* Card */
.card__image img {
  width: 100%;
}

.card__text {
  margin-bottom: 2rem;
}
