*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: hsl(236, 13%, 42%);
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: hsl(240, 100%, 5%);
  line-height: 1;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}

/* Button */
.btn {
  border: 0;
  font-size: 1.1rem;
  font-weight: bold;
  outline: 0;
  padding: 0.8rem 2rem;
  text-align: center;
  text-wrap: nowrap;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.btn--primary {
  background: hsl(5, 85%, 63%);
  transition: background 0.2s, color 0.2s;
}

.btn--primary:hover,
.btn--primary:focus {
  background: hsl(240, 100%, 5%);
  color: #fff;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

.list__item {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--inline .list__item {
    display: inline-block;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
}
