<nav class="nav nav--collapsed">
  <a href="/"><img src="images/logo.svg" alt="Logo" /></a>
  <div class="nav__icons">
    <img class="nav__icon" src="images/icon-menu-close.svg" alt="" />
    <img class="nav__icon" src="images/icon-menu.svg" alt="" />
  </div>
  <ul class="list list--inline nav__list">
    <li class="list__item nav__item"><a href="#">Home</a></li>
    <li class="list__item nav__item"><a href="#">New</a></li>
    <li class="list__item nav__item"><a href="#">Popular</a></li>
    <li class="list__item nav__item"><a href="#">Trending</a></li>
    <li class="list__item nav__item"><a href="#">Categories</a></li>
  </ul>
</nav>
