<section class="news">
  <h2 class="news__latest">New</h2>
  <article class="news__article">
    <a class="news__heading" href="#">hydrogen vs electrical cars</a>
    <p>will hydrogen-fueled cars ever catch up to EVs?</p>
  </article>
  <article class="news__article">
    <a class="news__heading" href="#">The Downsides of AI Artistry</a>
    <p>
      What are the possible adverse effects of on-demand AI image generation?
    </p>
  </article>
  <article class="news__article">
    <a class="news__heading" href="#">Is VC Funding Drying Up?</a>
    <p>
      Private funding by VC firms is down 50% YOY. We take a look at what that
      means.
    </p>
  </article>
</section>
